.portfolio__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
}

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio__item h3 {
  color: var(--color-primary);
  margin: 1.2rem 0 0 0; 
}
.portfolio__item p {
  color: rgba(255, 255, 255, 0.8);
  margin: 0 0  1rem 0;
  font-size: 0.9rem;
 
  /* color: var(--color-primary); */
  /* font-style: italic; */
}


.portfolio__item-cta {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/*  =========== MEDIA QUERIES ================ */

/* ______ MEDIUM DEVICES _______ */

@media screen and (max-width: 1624px) {
  .portfolio__container {
    grid-template-columns: 3fr 3fr;
    gap: 1.2rem;
  }
}

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }
}

/* ______ SMALL DEVICES _______ */

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
